body {
    background-image: url(../images/Background.jpg);
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.nav-bar ul li .current-page {
    color: blueviolet;
    position: relative;
}

/*clock*/
.clock {
    width: 180px;
    height: auto;
    border: 3px solid greenyellow;
    border-radius: 3px;
    background-color: black;
    color: aliceblue;
    font-size: 25px;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    margin-left: 85%;
    top: 120px;
    position: absolute;
}

.downloadSec {
    border: 2px solid black;
    width: 250px;
    height: 250px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border-radius: 6px;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #a3a3a3;
    position: relative;
    top: 200px;
    left: 250px;
}

.downloadSec h4 {
    position: relative;
    top: 20px;
    color: white;
    font-size: larger;
}

.submitBtnGrp {
    margin-left: 60%;
    bottom: 380px;
    border: 2px solid black;
    width: 400px;
    height:480px;
    padding: 20px;
    border-radius: 5px;
    background-color: #a3a3a3;
    position: relative;

}
.inputFont{
    font-size: 20px;
    font-weight: 800;
}
.submitbtn {
    width: 150px;
    height: 50px;
    background-color: rgb(5, 20, 8);
    transition: 0.9s;
    color: aliceblue;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}
.Edit a{
    text-decoration: none;
    color: aliceblue;
}
.Edit{
    width: 150px;
    height: 50px;
    background-color: rgb(5, 20, 8);
    transition: 0.9s;
    border-radius: 5px;
    float: left;
    cursor: pointer;
   
    
}
.Edit:hover{
    background-color: blue;
}

.submitbtn:hover {
    background-color: blue;
}

.upload {
    margin-bottom: 20px;

}

.upload input {
    width: 300px;

}

.upload h3 {
    color: rgb(0, 0, 172);
    font-size: 22px;
}
.selectExam{
    width: 80px;
    height: 30px;
    font-size: 16px;
}

.noFile{
    font-size: 15px;
}

.instructions {
    color: rgb(12, 6, 6);
    font-weight: bold;
    border: 2px solid black;
    width: 650px;
    height: auto;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    font-size: 17px;
    background-color: #f5da10;
    position: relative;
    bottom: 280px;
    margin-left: 10%;
}


.instructions h1 {
    text-align: center;
    color: rgb(245, 6, 6);
}
.input{
    width: 100px;
    height:40px;
    border-radius: 5px;
}

.dBtn{
    border: 1px solid black;
    background-color: #7c069a;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 18px;
    border-radius: 10px;
    font-size: 20px;
    
}
.dBtn:hover{
    color: aliceblue;
    background: black;
    transition: 2s;
}

